@import url(http://fonts.googleapis.com/css?family=Raleway:200,500,700,800);
.werw{
	left:0px;
	position:absolute;
	font-size: 40px;
	color: #fff;
}
/* 01. GENERAL SETTINGS ============================================ */

* {margin: 0px; padding: 0px;}

p {line-height: 160%;}

a {text-decoration: none; color: #fff; transition: all 0.1s ease-in;}
img {border: 0;}

body {
  	color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 13px;
	font-weight: 300;
}

.clear {clear: both;}

/* 02. FONT FACE ============================================ */

@font-face {
    font-family: 'norwester';
	src: url('../fonts/norwester/norwester.eot');
    src: url('../fonts/norwester/norwester.eot?iefix') format('embedded-opentype'),
		 url('../fonts/norwester/norwester.ttf');
    font-weight: normal;
}

/* 03. TEAM SETTINGS ============================================ */

#team {
	padding: 60px 0;
	background:url("../img/bg.jpg") center;
	background-size: cover;
	
	text-align: center;	
}

#team p {
	padding: 20px 0 60px;
	color: rgba(255,255,255, 0.85);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
}

#team h3 {
	padding: 0 0 15px;
	font-family: 'norwester';
	font-size: 36px;
	text-transform: uppercase;
}

#team h4  {
	margin-top: -20px;
	font-size: 32px;
	font-weight: 700;
}

#team h4 span {
	display: block;
	position: relative;
	left: -40px;
	top: 10px;
	font-size: 20px;
	background: none;
	padding: 0;
}

#team img {
	width: 100%;
	max-width: 240px;
	border-radius: 50%; 
	border: 15px solid transparent; 
	box-shadow: 2px 2px 0px rgba(0,0,0, 0.18);
	transition: all 0.1s ease-in;
}
	
#team img:hover {
	border: 15px solid #3980C9;
	position: relative;
	z-index: 10;
	transition: all 0.1s ease-in;	
}

#team span {
	padding: 8px 20px;
	position: relative;
	top: -64px;
	left: -42px;
	display: inline-block;
	background: #4593e3;
	border-radius: 0 16px 16px 0;
	font-size: 16px;
}

/* Member Image Hover Effect */
.hover_img {
  display: none
}

.member-profile:hover .unhover_img{
  display: none;
}

.member-profile:hover .hover_img {
  display: block;
}

/* Social Networks Meta */
#team li {display: inline-block; padding: 0 6px; font-size: 18px;}
#team li a {color: rgba(0,0,0, 0.3); transition: all 0.1s ease-in;}
#team li a:hover {color: rgba(0,0,0, 0.7);}



.row1 .col-md-3 {
	padding-bottom: 40px;
	width: 50%;
	margin-left : auto;
	margin-right: auto;
}
.row2 .col-md-3 {
	padding-bottom: 40px;
	width: 20%;
	margin-left : auto;
	margin-right: auto;
}

/* Mobile Devices Optimization */
@media (min-width: 568px) and (max-width: 992px) {

	.row1 .col-md-3, .row2 .col-md-3 {
		display: inline-block;
		margin-left: auto;
		margin-right:auto;
	}

	#team img {max-width: 300px;}

}